<template>
    <div class="chat-app">     
        <ContactsList :contacts="contacts" @selected="startConversationWith"/>   
        <Conversation :contact="selectedContact" :messages="messages" @new="saveNewMessage"/>
        
    </div>
</template>

<script>
    import ContactsList from './ContactsList';
    import Conversation from './Conversation';
import { constants } from 'crypto';

    export default {
        props: {
            user: {
                type: Object,
                required: true
            }
        },

        data() {
            return {
                selectedContact: null,
                messages: [],
                contacts: []
            };
        },
        mounted() {
            Echo.private(`messages.${this.user.id}`)
                .listen('NewMessage', (e) => {
                    this.handleIncoming(e.message);
                });

            axios.get('/contacts')
                .then((response) => {
                    this.contacts = response.data;
                });
        },
        methods: {
            startConversationWith(contact) {
                axios.get(`/conversation/${contact.id}`)
                    .then((response) => {
                        this.messages = response.data;
                        this.selectedContact = contact;
                    })
            },

            saveNewMessage(text){
                this.messages.push(text);
            },
            handleIncoming(message) {
                if (this.selectedContact && message.from == this.selectedContact.id) {
                    this.saveNewMessage(message);
                    return;
                }
                allert(message.text);
            }

        },
        components: {Conversation, ContactsList}
    }
</script>

<style lang="scss" scoped>
.chat-app {
    display: flex;
}
</style>